/**
 * main style
 */
* {
    margin: 0;
    padding: 0;
    line-height: 140%;
}

body {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 2px;
}

img {
    border: none;
}

