@charset "UTF-8";  
@page {
    size: A4;
    margin: 10%;
    @top-left {
        content: "請求書"; /* 日本語だとうまく出ない。flyng soucerのバグ？ */
    }
    @top-right {
        content: "Page " counter(page) " of " counter(pages);
    }
}

@font-face {
    font-family: "IPAexGothic";
    src: url("ipaexg.ttf"); 
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

* {
    font-family: "IPAexGothic";
}

body {
	max-width: 960px;
}

table {
    border: 1px #000000 solid;
    border-collapse: collapse;
}
td, th {
    border: 1px #2b2b2b solid;
    padding:8px;
    text-align:right;
}

