<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>請求書</title>
<link id="mainCssLink" rel="stylesheet" type="text/css" href="../static/main.css" />
</head>
<body>

    <div id="header">
        <h4>mixer2 バージョン</h4>
    </div>

    <h1>請求書</h1>

    <div style="text-align: right;">
        <p>
            発行日 <span id="billIssueDate">2015-04-01</span>
        </p>
    </div>

    <h2>
        <span id="billDestination">請求先 株式会社</span> 御中
    </h2>

    <div style="text-align: right;">
        <h3>株式会社 D3</h3>
        <p>東京都 渋谷区 オーシャン 1-1-1</p>
    </div>

    <h3>
        但：<span id="billTitle">渋谷の海の土木工事費として</span>
    </h3>

    <table>
        <thead>
            <tr>
                <th>商品名</th>
                <th>数量</th>
                <th>単価</th>
                <th>金額</th>
            </tr>
        </thead>
        <tbody id="billDetailList">
            <tr>
                <td>3DCG バーチャルリアリティシステム</td>
                <td>1</td>
                <td>1,000</td>
                <td>1,000</td>
            </tr>
            <tr>
                <td>天然サンゴ砂1トンパック</td>
                <td>2</td>
                <td>3,000</td>
                <td>6,000</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: right">合計金額:<span id="billCharge">999</span>円
                </td>
            </tr>
        </tfoot>
    </table>

    <img src="../static/logo_site.png" style="width:262px; height:240px; margin:20px;"/>

    <p>あああああああああああああああああああああ</p>
</body>
</html>