<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>

<link rel="stylesheet" type="text/css" href="../static/main.css"/>

</head>
<body>

    <header>
        <a href="/bill/pdf">get pdf</a>
    </header>

	<h1>請求書</h1>
	<table>
		<tr>
			<td><span id="billSource">ここに請求元</span>
			</td>
		</tr>
		<tr>
			<td><span id="billDestination">ここに請求先</span></td>
		</tr>
	</table>

	<p>ああああああああああああああああああああああああああああああああああああああああ</p>
    <p>ああああああああああああああああああああああああああああああああああああああああ</p>
    <p>ああああああああああああああああああああああああああああああああああああああああ</p>
    <p>ああああああああああああああああああああああああああああああああああああああああ</p>
    <p>ああああああああああああああああああああああああああああああああああああああああ</p>

	<img src="../static/logo_site.png" />
</body>
</html>